 <div class="user-details">
  <h1> My Watches </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Rolex</h2>
      <img alt="mountains" src="{{ "/assets/img/lailis.jpg" | prepend: site.baseurl }}" style="width:220px; height:auto;" />
      <p>Equipped with a Rolex self-winding mechanical movement, it offers stable and reliable timekeeping; the five-link Jubilee bracelet ensures a comfortable, snug fit on the wrist, while the Oyster case guarantees excellent water resistance. The overall design is elegant and sophisticated, versatile and timeless, making it ideal for commuting, business, or everyday wear. It is a classic women’s watch that combines aesthetic appeal with strong resale value.
</p>
    </div>
    <div class="tech">
      <h2>Patek Philippe</h2>
      <img alt="mountains" src="{{ "/assets/img/baidafl.jpg" | prepend: site.baseurl }}"  style="width:220px; height:auto;"/>
      <p>The Nautilus’s monobloc bracelet features a micro-adjustable folding clasp, ensuring a secure and comfortable fit; the double-sided anti-reflective sapphire crystal is crystal-clear and scratch-resistant, with 30-meter water resistance to meet daily needs. Combining sporty elegance with luxurious craftsmanship, it is suitable for commuting, dates, and business occasions, making it an excellent choice for a women’s replica watch.</p>
    </div>
    <div class="tech">
      <h2>Longines</h2>
      <img alt="mountains" src="{{ "/assets/img/langq.jpg" | prepend: site.baseurl }}"  style="width:220px; height:auto;"/>
      <p>The Longines Master Moonphase for Women, with a 34mm case diameter, is designed specifically for the female wrist, offering an elegant and delicate look without feeling bulky. The stainless steel case is paired with a sapphire crystal that is both transparent and scratch-resistant. The mother-of-pearl dial features exquisite diamond hour markers, with a beautiful moon phase display and date function at the 6 o'clock position, exuding a gentle and sophisticated charm.</p>
    </div>
</div>
