<div class="user-details">
  <h1> My Watches </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/laolis.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Rolex </h3>
    <ul>
      <li> GS Xinyue Moon Phase</li>
    </ul>
    <p>Understated luxury, retains its value, and is durable—perfect for commuting, business, and everyday wear. A must-have entry-level model from Rolex.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/langq2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Longines </h3>
    <ul>
      <li> Black Log</li>
    </ul>
    <p>A classic moon phase ladies' watch from the Longines Heart Moon (Heart Delight) collection, crafted specifically for delicate female wrists, offering an elegant and graceful look without feeling bulky.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
